sheet_images/
people_images/
db.sqlite3
utilities/pages/
.venv/
.idea/
.DS_Store
create/.DS_Store
play/.DS_Store
utilities/The_Between_Threats.pdf
utilities/The_Mastermind.pdf
utilities/source/
utilities/target/
ssh_repl*
utilities/old_replit_scripts/database_up
utilities/old_replit_scripts/files_up
utilities/old_replit_scripts/db_dump_down
utilities/old_replit_scripts/code_up
static/springyui.js
static/demo.html
The_Limehouse_Lurker.pdf
utilities/get_files.py
utilities/loaded_people_images/
**/*.pyc
