<head>
    <script>
        let justClick;
        const selectedElements = [];

        function clickHandler(event) {
            const element = event.target;
            event.stopPropagation();

            const selected = element.classList.toggle("selected");
        }

        function clearSelections(event) {
            if (event.target !== event.currentTarget) return;
            event.stopPropagation();
            Array.from(overlay.children).forEach(child => child.classList.remove("selected"));
        }

        function submitHandler(event) {
            if (event.code === "Enter") {
                const tester = document.getElementById("tester");
                const overlay = tester.getElementsByClassName("boxOverlay")[0]
                const entry = tester.getElementsByClassName("entry")[0]
                entry.blur()
            }
        }

        function blurHandler(event) {
            const tester = document.getElementById("tester");
            const overlay = tester.getElementsByClassName("boxOverlay")[0]
            overlay.style["visibility"] = "visible";
        }

        function downHandler(event) {
            event.stopPropagation();
            justClick = true;
            const element = event.target;
            element.onpointermove = moveHandler;
            element.setPointerCapture(event.pointerId);

            const nameElement = element.getElementsByClassName("boxName")[0];
            nameElement.style["visibility"] = "visible";

            event.stopPropagation();
        }

        function upHandler(event) {
            event.stopPropagation();
            const element = event.target;
            element.onpointermove = null;
            element.releasePointerCapture(event.pointerId)

            const nameElement = element.getElementsByClassName("boxName")[0]
            nameElement.style["visibility"] = "hidden";

            if (justClick) {
                justClick = false;
                clickHandler(event);
            } else {
                updateBox(element);
            }
        }

        function widthDownHandler(event) {
            event.target.onpointermove = widthMoveHandler;
            event.target.setPointerCapture(event.pointerId);
            event.stopPropagation();
        }

        function widthUpHandler(event) {
            const element = event.target;
            element.onpointermove = null;
            element.releasePointerCapture(event.pointerId);
            event.stopPropagation();
            updateBox(element.parentElement);
        }

        function widthMoveHandler(event) {
            const element = event.target.parentElement;
            Array.from(element.parentElement.children).forEach(child => {
                if (child === element || child.classList.contains("selected")) {
                    child.style["width"] = (parseFloat(child.style["width"]) + event.movementX).toString() + "px";
                }
            });
        }

        function heightDownHandler(event) {
            event.target.onpointermove = heightMoveHandler
            event.target.setPointerCapture(event.pointerId)
            event.stopPropagation();
        }

        function heightUpHandler(event) {
            const element = event.target;
            element.onpointermove = null;
            element.releasePointerCapture(event.pointerId)
            event.stopPropagation();
            updateBox(element.parentElement);
        }

        function heightMoveHandler(event) {
            const element = event.target.parentElement;
            Array.from(element.parentElement.children).forEach(child => {
                if (child === element || child.classList.contains("selected")) {
                    child.style["height"] = (parseFloat(child.style["height"]) + event.movementX).toString() + "px";
                }
            });
        }

        function updateBox(element) {
            Array.from(element.parentElement.children).forEach(box => {
                if (box === element || box.classList.contains("selected")) {
                    const box_id = box.id.substring(3);
                    const left = parseFloat(box.style["left"]).toString();
                    const top = parseFloat(box.style["top"]).toString();
                    const width = parseFloat(box.style["width"]).toString();
                    const height = parseFloat(box.style["height"]).toString();

                    fetch(`update_box?box_id=${box_id}&left=${left}&top=${top}&width=${width}&height=${height}`)
                    .then((response) => response.json())
                    .then((data) => {});
                }
            });
        }

        function moveHandler(event) {
            justClick = false;
            const element = event.target;
            Array.from(element.parentElement.children).forEach(child => {
                if (child === element || child.classList.contains("selected")) {
                    child.style["left"] = (parseFloat(child.style["left"]) + event.movementX).toString() + "px";
                    child.style["top"] = (parseFloat(child.style["top"]) + event.movementY).toString() + "px";
                }
            });
        }

        function keyHandler(event) {
            const mapDimension = {
                "KeyL": "left",
                "KeyT": "top",
                "KeyW": "width",
                "KeyH": "height",
            }
            const mapDistribution = {
                "KeyH": "left",
                "KeyV": "top",
            }
            const elements = Array.from(
                document.getElementById("overlay").children
            ).filter(element => element.classList.contains("selected"));

            if (elements.length < 2) return;

            let attribute = mapDimension[event.code];
            if (attribute) {
                const value = getMinimumValue(attribute, elements);
                elements.forEach(element => {element.style[attribute] = `${value}px`;});
                updateBox(elements[0]);
                return;
            }

            attribute = mapDistribution[event.code];
            if (attribute) {
                if (elements.length < 3) return;
                elements.sort((a, b) => parseFloat(a.style[attribute]) - parseFloat(b.style[attribute]));
                const startValue = parseFloat(elements[0].style[attribute]);
                const endValue = parseFloat(elements.slice(-1)[0].style[attribute]);
                const increment = (endValue - startValue) / (elements.length - 1);
                let currentValue = startValue + increment;
                for (let i = 1; i < (elements.length - 1); i++) {
                    elements[i].style[attribute] = `${currentValue}px`;
                    currentValue += increment;
                }
                updateBox(elements[0]);
            }
        }

        function getMinimumValue(attribute, elements) {
            let value = parseFloat(elements[0].style[attribute]);
            elements.forEach(element => {
                const possibleValue = parseFloat(element.style[attribute]);
                if (possibleValue < value) {
                    value = possibleValue;
                }
            })
            return value;
        }

        function sortElements(attribute, elements) {

        }

        function enterHandler(event) {
            const tester = document.getElementById("tester");
            const overlay = tester.getElementsByClassName("boxOverlay")[0]
            const mover = overlay.getElementsByClassName("mover")[0]
            mover.style["visibility"] = "visible";
        }

        function leaveHandler(event) {
            event.stopPropagation();
            const tester = document.getElementById("tester");
            const overlay = tester.getElementsByClassName("boxOverlay")[0]
            const mover = overlay.getElementsByClassName("mover")[0]
            mover.style["visibility"] = "hidden";
        }

        function getNewBox(id) {
            fetch("create_box?box_id=" + id + "&sheet_id={{ sheet_id }}")
            .then((response) => response.json())
            .then((data) => {
                const overlay = document.getElementById("overlay");
                overlay.insertAdjacentHTML("beforeend", data["box_html"]);
            });
        }
    </script>
    <style>
        * { padding: 0; margin: 0; }
        iframe { position: absolute; }
        div { position: absolute; touch-action: none; }
        .selected { background-color: rgba(93, 185, 93, 0.69) !important; }
        }
        input {
            position: absolute;
            touch-action: none;
            margin: 0;
            padding: 1px 5px 0px 5px;
            border: 1px solid #759FEAFF;
            border-radius: 2px;
            font-family: arial, helvetica, sans-serif;
            font-size: 16px;
        }
        .elementSelect:hover { background-color: #759FEA55; }
        .mover {
            left: -20px; top: -20px; width: 40px; height: 40px;
            font-size: x-large; color: #759FEAFF;
            cursor: grab; user-select: none;
        }
        .actionIcon {
            width: 100%; height: 100%; text-align: center; line-height: 40px;
        }
        .placeholder {
            border: 2px solid #759FEAFF;
            background-color: #759FEAAA;
            border-radius: 2px;
            cursor: move;
        }
        .boxName {
            top: -33px; height: 20px; width: 400px; padding: 4px;
            background-color: #FFFFFFDD; color: #759FEAFF;
            visibility: hidden;
        }
    </style>
</head>
<body onkeydown="keyHandler(event);">

    <iframe src="{{ sheet_url }}#toolbar=0"
            style="left: 0; top: 0; width: {{ image_width }}; height: {{ image_height }}"></iframe>

    <div id="overlay" style="left: 0; top: 0; width: {{ image_width }}; height: {{ image_height }};"
         onclick="clearSelections(event);">
        {{ box_positions }}
    </div>
    <div style="left: {{ image_width }}; width: 400px;">
        {{ box_list }}
    </div>
</body>