{% load static  %}
<head>
    <link href="{% static 'css/fontawesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/regular.css' %}" rel="stylesheet">
    <link href="{% static 'css/solid.css' %}" rel="stylesheet">
    <script src="{% static 'springy.js' %}"></script>
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.7.2.2.js"></script>

    <style>
        @font-face {font-family: 'Ingeborg'; src: local('Ingeborg Striped'), local('Ingeborg-Striped'), url({% static 'Ingeborg-Striped.woff2' %}) format('woff2'); font-weight: normal; font-style: normal;}
        @font-face {font-family: 'IngeborgHeavy'; src: local('Ingeborg-Heavy'), url({% static 'ingeborg-heavy.otf' %}) format('opentype'); font-weight: bold; font-style: normal;}
        @font-face {font-family: 'CalendasPlus'; src: local('calendas'), url({% static 'calendas.woff2' %}) format('woff2'); font-weight: normal; font-style: normal;}
        * {
            padding: 0px; margin: 0px;
            font-family: CalendasPlus, Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
        }
        body {background-color: black;}
        button {background: none; border: none;}
        .node {position: absolute; background-color: lightcoral; color: black; padding: 8px; border-radius: 4px;}
        .edge {position: absolute; width: 1px; background-color: grey; transform-origin: top left;}
        .playplay {background-color: #EEA594}
        .playcharacter {background-color: #FFFFCC}
        .createplaybook {background-color: #FFFFCC}
        .playcase {background-color: #7E7A76}
        .playperson {background-color: #E8E3CD}
        .playlocation {background-color: #C4B7AF}
        .title {pointer-events: none; user-select: none; font-weight: bold; }
        .body {pointer-events: none; user-select: none; font-size: smaller; text-transform: uppercase;}
        [popover] {
          position: fixed;
          width: fit-content; max-width:90vw; min-width: 40vw; height: fit-content;
          margin: auto; border: solid; padding: 1em; inset: 0; overflow: auto;
        }
        .node .actions {display:none;}
        .node:hover .actions {display: flex; justify-content: space-between;}
        .actions button {margin: 4px; transition: all 0.1s linear;}
        .actions button:hover {transform: scale(1.5); text-shadow: 0 0 3px white;}
        embed {width: 90vw; height: 90vh;}
        .imgHolder {float: left; margin-right: 1em; margin-top: 1em;}
        img {height: 29vh; max-width: 30vw;}
        label, textarea {
          display:flex;
          flex-direction:column;
        }
        textarea { font-size: larger; }
        label { margin-top: 8px; font-weight: bold; font-size: small; }
        .toast {
            position: fixed; width: 100%; height: 60px; bottom: -60px;
            background-color: black; color: white;
            text-align: center; font-size: 32px;
            transition: bottom 0.5s;
            z-index: 1000;
        }
        iframe {width: 90vw; height: 90vh;}
    </style>
    <script>
        const pubnub = new PubNub({
            publishKey : "{{ publish_key }}",
            subscribeKey : "{{ subscribe_key }}",
            userId: "{{ user_id }}"
        });

        pubnub.addListener({
            message: (messageEvent) => {
                if (messageEvent.channel === "updates") {
                    const payload = messageEvent.message;
                    updateNode(payload);
                } else if (messageEvent.channel === "game") {
                    showMessage(messageEvent.message.content);
                }
            },
        });

        pubnub.subscribe({channels: ["updates", "game"]});

        function showMessage(message) {
            const toast = document.getElementsByClassName("toast")[0];
            toast.innerText = message;
            toast.style.bottom = "0px";
            setTimeout(hideMessage, 6000);
        }

        function hideMessage() {
            const toast = document.getElementsByClassName("toast")[0];
            toast.style.bottom = "-60px";
        }
    </script>

</head>
<body>
    {% csrf_token %}
    <div id="main" style="width: 100%; height: 100%;"></div>
    <script>
        const nodeLookup = {};
        const nodeDataLookup = {};
        const graph = new Springy.Graph();
        let currentVisibleNodes = new Set();

        const graphData = {{ graph_json }};
        console.log(graphData);
        const mainElement = document.getElementById("main");

        const fieldsToShow = [["name", 1], ["description", 2], ["player_notes", 5], ["gm_notes", 5]]

        const builders = {
            default: (nodeData, nodeID) => {
                return `
                    <div class="title">${nodeData.fields.name}</div>
                `;
            },
            "play.person": (nodeData, nodeID) => {
                return `
                    <div>
                        <span class="title">${nodeData.fields.name}</span><br/>
                        <span class="body">${nodeData.fields.description.substring(0, 20)}</span>
                    </div>
                `;
            },
        }
        const actionBuilders = {
            default: (nodeData, nodeID) => {
                let actionContent = "";
                if (nodeData.fields.visible !== undefined) {
                    const visibleIcon = nodeData.fields.visible === true ? "fa-eye" : "fa-eye-slash";
                    actionContent += `<button onclick="toggleBoolean('${nodeID}', 'visible')"><i class="fa-regular ${visibleIcon}"></i></button>`;
                }
                if (nodeData.fields.open !== undefined) {
                    const openIcon = nodeData.fields.open === true ? "fa-folder-open" : "fa-folder-closed";
                    actionContent += `<button onclick="toggleBoolean('${nodeID}', 'open')"><i class="fa-regular ${openIcon}"></i></button>`;
                }
                if (nodeData.fields.attachment) {
                    actionContent += `<button popovertarget="attachment${nodeID}"><i class="fa-regular fa-file-lines"></i></button>`;
                }
                if (nodeData.model === "play.play") {
                    actionContent += `
                        <button popovertarget="game${nodeID}"><i class="fa-regular fa-address-book"></i></button>
                        <button popovertarget="map${nodeID}"><i class="fa-regular fa-map"></i></button>
                    `;
                }
                actionContent += `<button popovertarget="popover${nodeID}"><i class="fa-regular fa-pen-to-square"></i></button>`;
                return `<div class="actions">${actionContent}</div>`;
            }
        }
        const popoverBuilders = {
            default: (nodeData, nodeID) => {
                let contents = "";
                const data = nodeData.fields;
                if (data.image) {
                    contents += `<div class="imgHolder"><img src="${data.image}"></div>`
                }
                fieldsToShow.forEach(([fieldName, rows]) => {
                    if (fieldName in data) {
                        contents += `
                        <label>
                            ${fieldName.toUpperCase().replace("_", " ")}
                            <textarea rows=${rows} onblur="stringUpdate(this, '${nodeID}', '${fieldName}');">${data[fieldName]}</textarea>
                        </label>`;
                    }
                });
                return contents;
            },
            attachment: (nodeData, nodeID) => {
                return `<embed src="${nodeData.fields.attachment}" type="application/pdf"/>`
            }
        }

        function bringToFront(nodeElement) {
            let maxZ = 0;
            Array.from(document.getElementsByClassName("node")).forEach((node) => {
                const nodeZ = parseInt(node.style.zIndex);
                if (nodeZ > maxZ) {
                    maxZ = nodeZ;
                }
            });
            maxZ++
            nodeElement.style.zIndex = "" + (maxZ);
        }

        const layout = new Springy.Layout.ForceDirected(
          graph,
          400.0, // Spring stiffness
          400.0, // Node repulsion
          0.5, // Damping
            undefined,  // min energy
            3.0,  // max speed
        );

        function toScreen(p) {
            const main = document.getElementById("main");
            const currentBB = layout.getBoundingBox();
            const size = currentBB.topright.subtract(currentBB.bottomleft);
            const sx = p.subtract(currentBB.bottomleft).divide(size.x).x * main.clientWidth;
            const sy = p.subtract(currentBB.bottomleft).divide(size.y).y * main.clientHeight;
            return new Springy.Vector(sx, sy);
        }

        function fromScreenFactors(s) {
            const main = document.getElementById("main");
            const currentBB = layout.getBoundingBox();
            const size = currentBB.topright.subtract(currentBB.bottomleft);
            console.log(size);
		    const px = (s.x / main.clientWidth) * size.x;
		    const py = (s.y / main.clientHeight) * size.y;
		    return new Springy.Vector(px, py);
        }

        const renderer = new Springy.Renderer(
          layout,
          function clear() {
            // code to clear screen
          },
          function drawEdge(edge, p1, p2) {
              const s1 = toScreen(p1);
              const s2 = toScreen(p2);
              const edgeVector = s2.subtract(s1);
              const magnitude = edgeVector.magnitude();
              const angle = edgeVector.radians() - Math.PI/2;

              const edgeElement = document.getElementById(edge.id);
              edgeElement.style.height = magnitude + "px";
              edgeElement.style.left = s1.x;
              edgeElement.style.top = s1.y;
              edgeElement.style.transform = "rotate(" + angle + "rad)";
          },
          function drawNode(node, p) {
              const nodeElement = document.getElementById(node.id);
              const screenPosition = toScreen(p);
              const screenWidth = nodeElement.clientWidth;
              const screenHeight = nodeElement.clientHeight;
              const left = screenPosition.x - screenWidth / 2;
              const top = screenPosition.y - screenHeight / 2;
              nodeElement.style.left = left + "px";
              nodeElement.style.top = top + "px";
          }
        );

        function floodFill(selectedNodeID) {
            const visibleNodes = getVisibleNodes(selectedNodeID, 2, 20);
            hideAllEdges();
            removeHiddenEdges(visibleNodes);
            addMissingEdges(visibleNodes);
            renderer.start();
        }

        function getVisibleNodes(selectedNodeID, distance, minNodes) {
            const visible = new Set();
            const currentVisibleNodeIDs = Array.from(currentVisibleNodes).map((node) => node.id);

            const seen = new Set();
            const toProcess = [[selectedNodeID, null, distance, false]];

            do {
                const [nodeID, parentNodeID, distance, hidden] = toProcess.shift();
                seen.add(nodeID);
                let graphNode = nodeLookup[nodeID];
                if (!hidden && (minNodes > 0 || distance > 0)) {
                    minNodes--;
                    if (!graphNode) {
                        graphNode = new Springy.Node(nodeID, {});
                        nodeLookup[nodeID] = graphNode;
                    }
                    graph.addNode(graphNode);
                    visible.add(graphNode);
                    showOrCreateNode(nodeID);

                    if (!currentVisibleNodes.has(graphNode) && parentNodeID) {
                        const parentNode = nodeLookup[parentNodeID];
                        layout.placeWith(graphNode, parentNode);
                    }
                } else if (graphNode) {
                    // Try to remove
                    graph.removeNode(graphNode);
                    hideNode(nodeID);
                }

                const ignoring = hidden || (nodeID !== selectedNodeID && graphData.nodes[nodeID].fields.open === false);

                let adjacentNodes = getAdjacent(nodeID);
                // Prioritise already-visible nodes
                adjacentNodes = adjacentNodes.filter(
                    nodeID => currentVisibleNodeIDs.includes(nodeID)
                ).concat(
                    adjacentNodes.filter(nodeID => !currentVisibleNodeIDs.includes(nodeID))
                );
                adjacentNodes.forEach(adjacentNodeID => {
                    if (!seen.has(adjacentNodeID)) {
                        toProcess.push([adjacentNodeID, nodeID, distance - 1, ignoring]);
                    }
                });
            } while(toProcess.length)

            currentVisibleNodes = visible;

            return visible;
        }

        function hideAllEdges() {
            Array.from(document.getElementsByClassName("edge")).forEach(edgeElement => {
                edgeElement.style.visibility = "hidden";
            });
        }

        function removeHiddenEdges(visibleNodes) {
            graph.edges.forEach(edge => {
                if (!(visibleNodes.has(edge.node1) && visibleNodes.has(edge.node2))) {
                    graph.removeEdge(edge);
                    hideEdge(edge.id);
                }
            });
        }

        function addMissingEdges(visibleNodes) {
            graphData.edges.forEach(([node1ID, node2ID]) => {
                const node1 = nodeLookup[node1ID];
                const node2 = nodeLookup[node2ID];
                if (visibleNodes.has(node1) && visibleNodes.has(node2)) {
                    const edgeID = node1ID + "->" + node2ID;
                    if (graph.getEdges(node1, node2).length === 0) {
                        graph.addEdge(new Springy.Edge(edgeID, node1, node2));
                    }
                    showOrCreateEdge(edgeID);
                }
            });
        }

        function showOrCreateNode(nodeID) {
            const nodeElement = document.getElementById(nodeID);
            if (nodeElement) { nodeElement.style.visibility = "visible"; }
            else {
                const nodeData = graphData.nodes[nodeID];

                const nodeElement = document.createElement("div");
                mainElement.appendChild(nodeElement);
                nodeElement.id = nodeID;
                nodeElement.className = "node " + nodeData.model.replace(".", "");
                nodeElement.addEventListener("mouseover", (event) => {bringToFront(event.target);});
                nodeElement.addEventListener("click", (event) => {
                    if (event.target === event.currentTarget) { floodFill(nodeID); }
                });

                const popoverID = "popover" + nodeID;
                const popoverElement = document.createElement("div");
                const body = document.getElementsByTagName("body")[0];
                body.appendChild(popoverElement);
                popoverElement.id = popoverID;
                popoverElement.setAttribute("popover", "auto");
                popoverElement.className = "popover " + nodeData.model.replace(".", "");

                if (nodeData.fields.attachment) {
                    const attachmentID = "attachment" + nodeID;
                    const attachmentElement = document.createElement("div");
                    body.appendChild(attachmentElement);
                    attachmentElement.id = attachmentID;
                    attachmentElement.setAttribute("popover", "auto");
                    attachmentElement.className = "attachment" + nodeData.model.replace(".", "");
                }

                if (nodeData.model === "play.play") {
                    const charactersID = "game" + nodeID;
                    const charactersElement = document.createElement("div");
                    body.appendChild(charactersElement);
                    charactersElement.id = charactersID;
                    charactersElement.setAttribute("popover", "auto");
                    charactersElement.innerHTML = `<iframe src="all_characters?play_id=${nodeData.pk}"</iframe>`

                    const mapID = "map" + nodeID;
                    const mapElement = document.createElement("div");
                    body.appendChild(mapElement);
                    mapElement.id = mapID;
                    mapElement.setAttribute("popover", "auto");
                    mapElement.innerHTML = `<iframe src="edit_character?character_id=9"</iframe>`
                }

                updateContents(nodeID);
            }
        }

        function updateContents(nodeID) {
            const nodeData = graphData.nodes[nodeID];
            const nodeElement = document.getElementById(nodeID);
            const popoverElement = document.getElementById("popover" + nodeID);

            const builderKey = nodeData.model in builders ? nodeData.model : "default";
            const actionKey = nodeData.model in actionBuilders ? nodeData.model : "default";
            const popoverKey = nodeData.model in popoverBuilders ? nodeData.model : "default";
            nodeElement.innerHTML = builders[builderKey](nodeData, nodeID) + actionBuilders[actionKey](nodeData, nodeID);
            popoverElement.innerHTML = popoverBuilders[popoverKey](nodeData, nodeID);

            if (nodeData.fields.attachment) {
                const attachmentElement = document.getElementById("attachment" + nodeID);
                attachmentElement.innerHTML = popoverBuilders["attachment"](nodeData, nodeID);
            }
        }

        function hideNode(nodeID) {
            const nodeElement = document.getElementById(nodeID);
            if (nodeElement) { nodeElement.style.visibility = "hidden"; }
        }

        function showOrCreateEdge(edgeID) {
            const edgeElement = document.getElementById(edgeID);
            if (edgeElement) { edgeElement.style.visibility = "visible"; }
            else {
                const edgeElement = document.createElement("div");
                mainElement.appendChild(edgeElement);
                edgeElement.id = edgeID;
                edgeElement.className = "edge";
                edgeElement.style.zIndex = "-1";
            }
        }

        function hideEdge(edgeID) {
            const edgeElement = document.getElementById(edgeID);
            if (edgeElement) { edgeElement.style.visibility = "hidden"; }
        }

        function getAdjacent(nodeID) {
            const nodes = new Set();
            graphData.edges.forEach((edge) => {
                const [from, to] = edge;
                if (from === nodeID) {
                    nodes.add(to);
                }
                if (to === nodeID) {
                    nodes.add(from);
                }
            })
            return Array.from(nodes);
        }

        function toggleBoolean(nodeID, key) {
            const newValue = graphData.nodes[nodeID].fields[key] === false;
            sendUpdate(nodeID, key, newValue);
        }

        function stringUpdate(inputElement, nodeID, key) {
            console.log("BING");
            const value = inputElement.value;
            if (value !== graphData.nodes[nodeID].fields[key]) {
                sendUpdate(nodeID, key, value);
            }
        }

        function sendUpdate(nodeID, key, value) {
            const [modelName, instanceID] = nodeID.split("-");
            const csrf_token = document.querySelector('[name=csrfmiddlewaretoken]').value;
            fetch("update_value", {
                method: "POST",
                headers: {"Content-Type": "application/json", "X-CSRFToken": csrf_token},
                body: JSON.stringify({modelName: modelName, instanceID: instanceID, key: key, value: value}),
            })
            .then();
        }

        function updateNode(payload) {
            const nodeID = payload.id;
            graphData.nodes[nodeID] = payload.content;
            updateContents(nodeID);
        }

        floodFill("play.play-1");
    </script>
    <div class="toast"></div>
</body>