{% load static  %}
<head>
    <script src="{% static 'springy.js' %}"></script>
    <style>
        @font-face {font-family: 'Ingeborg'; src: local('Ingeborg Striped'), local('Ingeborg-Striped'), url({% static 'Ingeborg-Striped.woff2' %}) format('woff2'); font-weight: normal; font-style: normal;}
        @font-face {font-family: 'IngeborgHeavy'; src: local('Ingeborg-Heavy'), url({% static 'ingeborg-heavy.otf' %}) format('opentype'); font-weight: bold; font-style: normal;}
        @font-face {font-family: 'CalendasPlus'; src: local('calendas'), url({% static 'calendas.woff2' %}) format('woff2'); font-weight: normal; font-style: normal;}
        * {
            padding: 0;
            margin: 0;
            font-family: CalendasPlus, Didot, 'Bodoni MT', 'Noto Serif Display', 'URW Palladio L', P052, Sylfaen, serif;
        }
        body {background-color: black;}
        div {position: absolute;}
        .node {background-color: lightcoral; color: black; padding: 8px; border-radius: 4px;}
        .edge {width: 1px; background-color: grey; transform-origin: top left;}
        .playplay {background-color: #EEA594}
        .playcharacter {background-color: #FFFFCC}
        .createplaybook {background-color: #FFFFCC}
        .playcase {background-color: #7E7A76}
        .playperson {background-color: #E8E3CD}
        .playlocation {background-color: #C4B7AF}
        .title {pointer-events: none; font-weight: bold; }
        .body {pointer-events: none; font-size: smaller; text-transform: uppercase;}
    </style>
    <script>

    </script>

</head>
<body>
    {% csrf_token %}
    <div id="main" style="width: 100%; height: 100%;"></div>
    <script>
        const nodeLookup = {};
        const nodeDataLookup = {};
        const graph = new Springy.Graph();

        const graphData = {{ graph_json }};
        console.log(graphData);
        const mainElement = document.getElementById("main");

        const builders = {
            "default": (nodeData) => {
                return `<span class="title">${nodeData.fields.name}</span>`;
            },
            "play.person": (nodeData) => {
                return `
                    <span class="title">${nodeData.fields.name}</span><br/>
                    <span class="body">${nodeData.fields.description.substring(0, 20)}</span>`;
            },
        }

        function unusedCreationCode() {

            // Create graph nodes
            graphData.nodes.forEach(nodeData => {
                if (nodeData.fields.name) {
                    const nodeID = nodeData.model + "-" + nodeData.pk;
                    const node = new Springy.Node(nodeID, {label: nodeData.fields.name});
                    graph.addNode(node);
                    nodeLookup[nodeID] = node;
                    nodeDataLookup[nodeID] = nodeData;
                } else {
                    console.log("No name for " + nodeData.model + " - " + nodeData.pk);
                }
            });

            // Create graph edges and edge divs
            graphData.edges.forEach(edgeData => {
                const edgeID = edgeData[0] + edgeData[1];
                const source = nodeLookup[edgeData[0]];
                const target = nodeLookup[edgeData[1]];
                const edge = new Springy.Edge(edgeID, source, target);
                graph.addEdge(edge);

                const edgeElement = document.createElement("div");
                mainElement.appendChild(edgeElement);
                edgeElement.id = edgeID;
                edgeElement.className = "edge";
            });

            // Create node divs
            graphData.nodes.forEach(nodeData => {
                const nodeID = nodeData.model + "-" + nodeData.pk;
                const nodeElement = document.createElement("div");
                mainElement.appendChild(nodeElement);
                nodeElement.id = nodeID;
                nodeElement.className = "node " + nodeData.model.replace(".", "");
                nodeElement.addEventListener("mouseover", (event) => {
                    bringToFront(event.target);
                });

                const builderKey = nodeData.model in builders ? nodeData.model : "default";
                nodeElement.innerHTML = builders[builderKey](nodeData);
            });
        }

        function bringToFront(nodeElement) {
            let maxZ = 0;
            Array.from(document.getElementsByClassName("node")).forEach((node) => {
                const nodeZ = parseInt(node.style.zIndex);
                if (nodeZ > maxZ) {
                    maxZ = nodeZ;
                }
            });
            maxZ++
            nodeElement.style.zIndex = "" + (maxZ);
        }

        const layout = new Springy.Layout.ForceDirected(
          graph,
          400.0, // Spring stiffness
          400.0, // Node repulsion
          0.5 // Damping
        );

        function toScreen(p) {
            const main = document.getElementById("main");
            const currentBB = layout.getBoundingBox();
            const size = currentBB.topright.subtract(currentBB.bottomleft);
            const sx = p.subtract(currentBB.bottomleft).divide(size.x).x * main.clientWidth;
            const sy = p.subtract(currentBB.bottomleft).divide(size.y).y * main.clientHeight;
            return new Springy.Vector(sx, sy);
        }

        function fromScreenFactors(s) {
            const main = document.getElementById("main");
            const currentBB = layout.getBoundingBox();
            const size = currentBB.topright.subtract(currentBB.bottomleft);
            console.log(size);
		    const px = (s.x / main.clientWidth) * size.x;
		    const py = (s.y / main.clientHeight) * size.y;
		    return new Springy.Vector(px, py);
        }

        const renderer = new Springy.Renderer(
          layout,
          function clear() {
            // code to clear screen
          },
          function drawEdge(edge, p1, p2) {
              const s1 = toScreen(p1);
              const s2 = toScreen(p2);
              const edgeVector = s2.subtract(s1);
              const magnitude = edgeVector.magnitude();
              const angle = edgeVector.radians() - Math.PI/2;

              const edgeElement = document.getElementById(edge.id);
              edgeElement.style.height = magnitude + "px";
              edgeElement.style.left = s1.x;
              edgeElement.style.top = s1.y;
              edgeElement.style.transform = "rotate(" + angle + "rad)";
          },
          function drawNode(node, p) {
              const nodeElement = document.getElementById(node.id);
              const screenPosition = toScreen(p);
              const screenWidth = nodeElement.clientWidth;
              const screenHeight = nodeElement.clientHeight;
              const left = screenPosition.x - screenWidth / 2;
              const top = screenPosition.y - screenHeight / 2;
              nodeElement.style.left = left + "px";
              nodeElement.style.top = top + "px";

              nodeElement.addEventListener("dblclick", (event) => {
                  floodFill(event.target.id);
              })

              //const graphSize = fromScreenFactors(new Springy.Vector(screenWidth, screenHeight));
              //node.data.width = graphSize.x
              //node.data.height = graphSize.y;
              //node.data.width = 0.4;
              //node.data.height = 0.1;

              // console.log(node.data.label, left, top);
            // console.log(JSON.stringify(node.data.label), JSON.stringify(p));
          }
        );

        function floodFill(selectedNodeID) {
            const visibleNodes = getVisibleNodes(selectedNodeID, 2, 20);
            hideAllEdges();
            removeHiddenEdges(visibleNodes);
            addMissingEdges(visibleNodes);
            renderer.start();
        }

        function getVisibleNodes(selectedNodeID, distance, minNodes) {
            const visible = new Set();

            const seen = new Set();
            const toProcess = [[selectedNodeID, distance]];

            do {
                const [nodeID, distance] = toProcess.shift();
                seen.add(nodeID);
                let graphNode = nodeLookup[nodeID];
                if (minNodes > 0 || distance > 0) {
                    minNodes--;
                    if (!graphNode) {
                        graphNode = new Springy.Node(nodeID, {});
                        nodeLookup[nodeID] = graphNode;
                    }
                    graph.addNode(graphNode);
                    visible.add(graphNode);
                    showOrCreateNode(nodeID);
                } else if (graphNode) {
                    // Try to remove
                    graph.removeNode(graphNode);
                    hideNode(nodeID);
                }
                const adjacentNodes = getAdjacent(nodeID);

                adjacentNodes.forEach(adjacentNodeID => {
                    if (!seen.has(adjacentNodeID)) {
                        toProcess.push([adjacentNodeID, distance - 1]);
                    }
                });
            } while(toProcess.length)

            return visible;
        }

        function hideAllEdges() {
            Array.from(document.getElementsByClassName("edge")).forEach(edgeElement => {
                edgeElement.style.visibility = "hidden";
            });
        }

        function removeHiddenEdges(visibleNodes) {
            graph.edges.forEach(edge => {
                if (!(visibleNodes.has(edge.node1) && visibleNodes.has(edge.node2))) {
                    graph.removeEdge(edge);
                    hideEdge(edge.id);
                }
            });
        }

        function addMissingEdges(visibleNodes) {
            graphData.edges.forEach(([node1ID, node2ID]) => {
                const node1 = nodeLookup[node1ID];
                const node2 = nodeLookup[node2ID];
                if (visibleNodes.has(node1) && visibleNodes.has(node2)) {
                    const edgeID = node1ID + "->" + node2ID;
                    if (graph.getEdges(node1, node2).length === 0) {
                        graph.addEdge(new Springy.Edge(edgeID, node1, node2));
                    }
                    showOrCreateEdge(edgeID);
                }
            });
        }

        function showOrCreateNode(nodeID) {
            const nodeElement = document.getElementById(nodeID);
            if (nodeElement) { nodeElement.style.visibility = "visible"; }
            else {
                const nodeData = graphData.nodes[nodeID];
                const nodeElement = document.createElement("div");
                mainElement.appendChild(nodeElement);
                nodeElement.id = nodeID;
                nodeElement.className = "node " + nodeData.model.replace(".", "");
                nodeElement.addEventListener("mouseover", (event) => {bringToFront(event.target);});

                const builderKey = nodeData.model in builders ? nodeData.model : "default";
                nodeElement.innerHTML = builders[builderKey](nodeData);
            }
        }

        function hideNode(nodeID) {
            const nodeElement = document.getElementById(nodeID);
            if (nodeElement) { nodeElement.style.visibility = "hidden"; }
        }

        function showOrCreateEdge(edgeID) {
            const edgeElement = document.getElementById(edgeID);
            if (edgeElement) { edgeElement.style.visibility = "visible"; }
            else {
                const edgeElement = document.createElement("div");
                mainElement.appendChild(edgeElement);
                edgeElement.id = edgeID;
                edgeElement.className = "edge";
                edgeElement.style.zIndex = "-1";
            }
        }

        function hideEdge(edgeID) {
            const edgeElement = document.getElementById(edgeID);
            if (edgeElement) { edgeElement.style.visibility = "hidden"; }
        }

        function getAdjacent(nodeID) {
            const nodes = new Set();
            graphData.edges.forEach((edge) => {
                const [from, to] = edge;
                if (from === nodeID) {
                    nodes.add(to);
                }
                if (to === nodeID) {
                    nodes.add(from);
                }
            })
            return Array.from(nodes);
        }

        floodFill("play.play-1");
    </script>
</body>